body {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 2.2en;
    margin: 0;
}

header {
    background-color: orangered;
}

section, footer {
    margin: 40px;
}

h1 {
    font-size: 63px;
    color: white;
    text-align: center;
    padding: 15px;
}

h2 {
    color: #303030;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

nav li a {
    text-decoration: none;
    padding: 10px;
    color: white;

}

nav li {
    list-style: none;
    float: left;
}

nav ul {
    float: right;
    padding-right: 20px;
}

nav {
    height: 3px;
}

table {
    width: 100%;
}

table td {
    padding: 5px;
}

table thead th {
    padding: 5px;
}

table tr:nth-child(even) {
    background-color: #e9e9e9;
}

table tr:nth-child(odd) {
    background-color: #bdbdbd;
}

table thead th {
    background-color: orangered;
    color: white;
}

#pacotes .figuras figure {
    display: inline-block;
}

#pacotes .figuras, #pacotes .videos {
    text-align: center;
}
